task1/WindowsProject1/.vs/
task2/WindowsProject1/.vs/
task3/.vs/
task4/.vs/
task4/Computer_graphics_1/.vs/
task4/Computer_graphics_1/x64
task5/.vs/
task5/x64
task6/.vs/
task6/x64
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.tlog
*.log
*.ilk
*.obj
*.idb
*.pdb
*.exe
*.res
*.ipdb
*.iobj
*.recipe
